<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Match Form</title>
</head>
<body>
    <h1>College Match Form</h1>

    <form action="/results" method="post">
        <label for="region">Region:</label>
        <select name="region">
            <option value=""></option>
            {% for region_value in region_values %}
                <option value="{{ region_value }}">{{ region_value }}</option>
            {% endfor %}
        </select><br>
        
        <label for="state">State:</label>
        <select name="state">
            <option value=""></option>
            {% for state_value in state_values %}
                <option value="{{ state_value }}">{{ state_value }}</option>
            {% endfor %}
        </select><br>

        <label for="size">Size:</label>
        <select name="size">
            <option value=""></option>
            <option value="Under 1,000">Less than 1,000 students</option>
            <option value="1,000 - 4,999">1,000-4,999 students</option>
            <option value="5,000 - 9,999">5,000-9,999 students</option>
            <option value="10,000 - 19,999">10,000-19,999 students</option>
            <option value="20,000 and above">20,000 students and above</option>
        </select><br>

        <label for="sat_reading">SAT Reading:</label>
        <input type="number" name="sat_reading"><br>

        <label for="sat_math">SAT Math:</label>
        <input type="number" name="sat_math"><br>

        <label for="act">ACT:</label>
        <input type="number" name="act"><br>

        <label for="control">Control:</label>
        <select name="control">
            <option value=""></option>
            <option value="Public">Public</option>
            <option value="Private">Private</option>
        </select><br>

        <label for="graduation_rate">Graduation Rate:</label>
        <input type="number" name="graduation_rate"><br>

        <label for="admissions">Admissions:</label>
        <input type="number" name="admissions"><br>

        <label for="urbanization">Urbanization:</label>
        <select name="urbanization">
            <option value=""></option>
            <option value="City">City</option>
            <option value="Suburb">Suburb</option>
            <option value="Town">Town</option>
            <option value="Rural">Rural</option>
        </select><br>

        <label for="net_price">Net Price:</label>
        <input type="number" name="net_price"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
