{% extends 'base.html' %}

{% block title %}Step 1: Select Region{% endblock %}

{% block content %}
    <h1 class="text-center mt-4 mb-4">Step 1: Select Region</h1>

    <form action="{{ url_for('step', step=1) }}" method="post" class="text-center">
        <label for="{{ form_fields[0] }}"></label>
        <select name="{{ form_fields[0] }}" class="js-example-basic-single form-select" style="width: 100%;">
            <option value=""></option>
            {% for region_value in region_values %}
                <option value="{{ region_value }}">{{ region_value }}</option>
            {% endfor %}
        </select><br>
    
        <button type="submit" class="btn btn-primary mt-3">Next</button>
    </form>

    <script>
        // Initialize Select2 on the select element
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>
{% endblock %}
