{% extends 'base.html' %}

{% block title %}Step 7: Select Urbanization{% endblock %}

{% block content %}
    <h1 class="text-center mt-4 mb-4">Step 7: Select Urbanization</h1>

    <form action="{{ url_for('step', step=7) }}" method="post" class="text-center">
        <label for="{{ form_fields[6] }}"></label>
        <select name="{{ form_fields[6] }}" class="js-example-basic-single" style="width: 100%;">
            <option value=""></option>
            <option value="City">City</option>
            <option value="Suburb">Suburb</option>
            <option value="Town">Town</option>
            <option value="Rural">Rural</option>
        </select><br>


        <button type="submit" class="btn btn-primary mt-3">Next</button>
    </form>

    <form action="{{ url_for('step', step=6) }}" method="get" class="text-center">
        <button type="submit" class="btn btn-primary mt-3">Back</button>
    </form>
    <script>
        // Initialize Select2 on the select element
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>
{% endblock %}

