{% extends 'layout.html' %}

{% block title %}
    Step 6: Percent admitted
{% endblock %}

{% block content %}

    <div class="d-flex align-items-center justify-content-center vh-100 mx-auto">
        <div class="container w-100 text-center">
            <p class="survey-heading mt-4 mb-4">Step 6: How selective is the school?</p>

            <form action="/step/6" method="post" class="text-center form-width">
                    <label for="{{ form_fields[5] }}"></label>
                    <select name="{{ form_fields[5] }}" class="js-example-basic-single" style="width: 100%;" required>
                        <option value=""></option>
                        <option value="10">Extremely Selective</option>
                        <option value="25">Highly Selective</option>
                        <option value="50">Moderately Selective</option>
                        <option value="75">Slightly Selective</option>
                        <option value="100">Not Selective</option>
                    </select>
                <br>

                <button type="submit" class="btn survey-button mt-3">Next</button>
            </form>

            <form action="/step/5" method="get" class="text-center">
                <button type="submit" class="btn survey-button mt-3">Back</button>
            </form>
            <script>
                // Initialize Select2 on the select element
                $(document).ready(function() {
                    $('.js-example-basic-single').select2();
                });
            </script>
        </div>
    </div>

{% endblock %}

