<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Match Form - Step 5</title>
</head>
<body>
    <h1>Step 5: What's your ideal graduation rate?</h1>

    <form action="{{ url_for('step', step=5) }}" method="post">
        <label for="{{ form_fields[4] }}">Graduation Rate:</label>
        <input type="number" name="{{ form_fields[4] }}"><br>
        <input type="submit" value="Next">
    </form>

    <form action="{{ url_for('step', step=4) }}" method="get">
        <input type="submit" value="Back">
    </form>

</body>
</html>
