{% extends "layout.html" %}

{% block title %}
    College Match: Survey Completed
{% endblock %}

{% block content %}

    <div class="survey-completed container-fluid vh-100">
        <div class="row survey-completed-row">
            <div class="col-md-6 d-flex flex-column align-items-center">
                <div>
                    <img src="static/survey_completed.png" alt="Vector art of college student filling out exam"  class="survey-completed-image">
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <p class="survey-completed-text-1">You have already taken the survey</p>
                <p class="survey-completed-text-2">Do you want to retake it?</p>
                <a href="/retake-survey" class="btn custom-button survey-completed-btn">RETAKE SURVEY</a>
            </div>
        </div>
    </div>

{% endblock %}